<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- favicons - Need to change it-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
    <title>Jagriti Aggarwal : Contact Me</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/results.css">

    <!-- favicons - Need to change it-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <!-- Javascript -->
    <script type="text/javascript">
        $(function () {
            var typed = new Typed(".type", {
                // Waits 1000ms after typing "First"
                strings: ["That's great that you liked my resume.","Let get connected!","Shoot a message to me, i will do my needful.", "Have a good day!"],
                stringsElement: null,
                // typing speed
                typeSpeed: 50,
                // time before typing starts
                startDelay: 1200,
                // backspacing speed
                backSpeed: 40,
                // time before backspacing
                backDelay: 900,
                // loop
                loop: true,
                // false = infinite
                loopCount: 10,
                // show cursor
                showCursor: false,
                // character for cursor
                cursorChar: "|",
                // attribute to type (null == text)
                attr: null,
                // either html or text
                contentType: 'html',
            });

        });
    </script>
</head>
<body>

<header>

    <div class="google-search">
        <a href='/' class='home-logo'><img src="assets/images/logo.png" style="width: 100px;height: 44px;"> </a>

        <div class="g-search">
            <input class="search-input box type" type="text" text="  ">
            <div class="mic">
                <img class="v_search" alt="voice search" src="assets/images/search.png" />
            </div>
            <div class="mic2">
                <img class="v_search" alt="voice search" src="assets/images/mic.png" />
            </div>

        </div>

    </div>

    <div class="app-menu">
        <ul>
            <li><a href="#" class="apps" style="background-image: url('assets/images/apps-nav.png')"></a></li>
        </ul>
    </div>

</header>

<div class='top-menu'>

    <div class="left-menu">
        <div class='content-menu active'>Web</div>
        <div class='content-menu'><a href='#' class='link'>Videos</a></div>
        <div class='content-menu'><a href='#' class='link'>Images</a></div>
        <div class='content-menu'><a href='#' class='link'>News</a></div>
        <div class='content-menu'><a href='#' class='link'>Maps</a></div>
        <div class='content-menu'><a href='#' class='link'>More <span class="tg-arrow"></span></a></div>
        <div class='content-menu'><a href='#' class='search-settings'>Search tools</a></div>
    </div>

</div>


<div class='search-results'>

    <div class='note'><p>About 6,100,000 results (0.23 seconds)</p></div>

    <div class="results-main">

        <div class='rs-info'>
            <br>
            <br>

            <form method="post" action="/contactme">
                <h2 style="padding-left: 40px;">Your name :</h2>
                <div class="google-search" style="padding-top: 0px;">
                    <div class="g-search">
                        <input class="search-input box type" type="text" text="  " name="name" required>
                    </div>
                </div>
                <br>
                <h2 style="padding-left: 40px;">Your Email :</h2>
                <div class="google-search" style="padding-top: 0px;">
                    <div class="g-search">
                        <input class="search-input box type" type="email" text="  " name="email" required>
                    </div>
                </div>
                <br>
                <h2 style="padding-left: 40px;">Message :</h2>
                <div class="google-search" style="padding-top: 0px;">
                    <div class="g-search">
                        <input class="search-input box type" type="text" text="  " name="msg" required>
                    </div>
                </div>
                <br>
                <div style="padding-left: 40px;padding-top: 42px;">
                    <button type="submit" style="width: 100px;height: 55px;border: transparent;border-radius: 15px;"><h2>Send</h2> </button>
                </div>
            </form>
        </div>
        <br>

    </div>

    <div class='rs-more'>
        <div class='propositions'>
            <h3>Searches related to Hire Jagriti Aggarwal</h3>
            <a href="#">Jagriti Aggarwal Hire <strong> Intern </strong></a>
            <a href="#">Jagriti Aggarwal Hire <strong> Web Development </strong></a>
            <a href="#">Jagriti Aggarwal Hire <strong>  Projects</strong></a>
            <a href="#">Jagriti Aggarwal Hire <strong>Programming skills</strong></a>
        </div>
    </div>


    <nav class='bottom-list'>
        <div class='rs-pages'>
            <table class='pages'>
                <tbody>
                <tr>
                    <td><img src="assets/images/footer.png" style="width: 194px;height: 45px;padding-left: 23px;padding-bottom: 5px;"></td>
                    <td><span class='fo'></span><span class='actual'>1</span></td>
                    <td><a href='#' ><span class='o'></span>2</a></td>
                    <td><a href='#' ><span class='o'></span>3</a></td>
                    <td><a href='#' ><span class='o'></span>4</a></td>
                    <td><a href='#' ><span class='o'></span>5</a></td>
                    <td><a href='#' ><span class='o'></span>6</a></td>
                    <td><a href='#' ><span class='o'></span>7</a></td>
                    <td><a href='#' ><span class='o'></span>8</a></td>
                    <td><a href='#' ><span class='o'></span>9</a></td>
                    <td><a href='#' ><span class='o'></span>10</a></td>
                    <td><a href='#' ><span class='gle'></span><span class='next'>Next</span></a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </nav>

</div>


<footer>
    <div class="footer-section">
        <div class="location-info">
            <ul>
                <li class='location-main'><span class="point circle"></span> MNIT </li>
                <li class='location-main'><span class="point">-</span> Jaipur</li>
                <li><span class="point">-</span> <a href='#' class='link'>Use precise location </a></li>
                <li><span class="point">-</span> <a href='#' class='link'>Learn more</a></li>
            </ul>
        </div>

        <nav class="footer-menu">
            <ul>
                <li><a href='/about' class='link'>About</a></li>
                <li><a href='/contact' class='link'>Contact</a></li>
                <li><a href='/assets/pdf/jagriti-resume.pdf' class='link'>Resume</a></li>
            </ul>
        </nav>
    </div>
</footer>

</body>
</html>