<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- favicons - Need to change it-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">    <title>Jagriti Aggarwal : Contact Me</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/results.css">

    <!-- favicons - Need to change it-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <!-- Javascript -->
    <script type="text/javascript">
        $(function () {
            var typed = new Typed(".type", {
                // Waits 1000ms after typing "First"
                strings: ["Oops! How did you get here?????","Haha ! We have not thought of this URL yet.","Please go back to home page.", "Have a good day!"],
                stringsElement: null,
                // typing speed
                typeSpeed: 50,
                // time before typing starts
                startDelay: 100,
                // backspacing speed
                backSpeed: 40,
                // time before backspacing
                backDelay: 900,
                // loop
                loop: true,
                // false = infinite
                loopCount: 10,
                // show cursor
                showCursor: false,
                // character for cursor
                cursorChar: "|",
                // attribute to type (null == text)
                attr: null,
                // either html or text
                contentType: 'html',
            });

        });
    </script>
</head>
<body>

<header>

    <div class="google-search">
        <a href='/' class='home-logo'><img src="assets/images/logo.png" style="width: 100px;height: 44px;"> </a>

        <div class="g-search">
            <input class="search-input box type" type="text" text="  ">
            <div class="mic">
                <img class="v_search" alt="voice search" src="assets/images/search.png" />
            </div>
            <div class="mic2">
                <img class="v_search" alt="voice search" src="assets/images/mic.png" />
            </div>

        </div>

    </div>

    <div class="app-menu">
        <ul>
            <li><a href="#" class="apps" style="background-image: url('assets/images/apps-nav.png')"></a></li>
        </ul>
    </div>

</header>

<div class='top-menu'>

    <div class="left-menu">
        <div class='content-menu active'>Web</div>
        <div class='content-menu'><a href='#' class='link'>Videos</a></div>
        <div class='content-menu'><a href='#' class='link'>Images</a></div>
        <div class='content-menu'><a href='#' class='link'>News</a></div>
        <div class='content-menu'><a href='#' class='link'>Maps</a></div>
        <div class='content-menu'><a href='#' class='link'>More <span class="tg-arrow"></span></a></div>
        <div class='content-menu'><a href='#' class='search-settings'>Search tools</a></div>
    </div>

</div>


<div class='search-results'>

    <div class='note'><p>About 6,100,000 results (0.23 seconds)</p></div>

    <div class="results-main">

        <div class='rs-info'>
            <br>
            <br>

            <form method="post" action="/contactme">
                <h2 style="padding-left: 40px;"> Oops ! You are on the wrong URL.</h2>
            </form>
        </div>
        <br>

    </div>

</div>

</body>
</html>