<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>Jagriti Aggarwal : Portfolio</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/results.css">
</head>
<body>

<header>

    <div class="google-search">
        <a href='/' class='home-logo'><img src="assets/images/logo.png" style="width: 100px;height: 44px;"> </a>

        <div class="g-search">
            <input class="search-input" type="text" text="  " value="Jagriti Aggarwal Portfolio">
            <div class="mic">
                <img class="v_search" alt="voice search" src="assets/images/search.png" />
            </div>
            <div class="mic2">
                <img class="v_search" alt="voice search" src="assets/images/mic.png" />
            </div>

        </div>

    </div>

    <div class="app-menu">
        <ul>
            <li><a href="#" class="apps" style="background-image: url('assets/images/apps-nav.png')"></a></li>
        </ul>
    </div>

</header>

<div class='top-menu'>

    <div class="left-menu">
        <div class='content-menu active'>Web</div>
        <div class='content-menu'><a href='#' class='link'>Videos</a></div>
        <div class='content-menu'><a href='#' class='link'>Images</a></div>
        <div class='content-menu'><a href='#' class='link'>News</a></div>
        <div class='content-menu'><a href='#' class='link'>Maps</a></div>
        <div class='content-menu'><a href='#' class='link'>More <span class="tg-arrow"></span></a></div>
        <div class='content-menu'><a href='#' class='search-settings'>Search tools</a></div>
    </div>

</div>

<div class='search-results'>

    <div class='note'><p>About 6,100,000 results (0.23 seconds)</p></div>

    <div class="results-main">

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal has good experience in working with companies...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagritiintern.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 15, 2017 - </span> For any fresher, it matters a lot that, how much <em>experience</em> she has in IT sector.<em>Jagriti Aggarwal</em> has done 2 interns with FollowClass and FreeDoctorHelpline</em>...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal has worked on a lot of real world projects...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagritiprojects.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 28, 2015 - </span><em>Jagriti Aggarwal</em> has worked on a lot of real world projects. She loves to solve real life problems using programming skills ...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal has built a website for FollowClass...</a></h3>
            <div class='web-adr'><cite class='www'>www.school-app.in </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 28, 2015 - </span><em>Jagriti Aggarwal</em> has built a website named School-App during her internship with FollowClass. It improved SEO ranking of FollowClass by 10%...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal and MNIT annual cultural socio-sports fest website...</a></h3>
            <div class='web-adr'><cite class='www'>www.youthfestmnit.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 28, 2015 - </span><em>Jagriti Aggarwal</em> worked in a team as a web designer and built Youth Fest website. Website has a very good User interface with all functions.....</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Fully functional Blood helpers application for urgent blood seekers...</a></h3>
            <div class='web-adr'><cite class='www'>www.bloodhelpersmnit.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 28, 2015 - </span> <em>Jagriti Aggarwal</em>is currently working on a fully functional MEAN stack web application Blood Helpers which will helps urgent MNITians to find the right doner...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Event Coordinator & Web developer at Youth Fest’18 , MNIT Jaipur...</a></h3>
            <div class='web-adr'><cite class='www'>www.youthfestmnit.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Jan 12, 2018 - </span> <em>Jagriti Aggarwal</em> was event coordinator and senior web developer at YouthFest'18, MNIT Jaipur.She coordinated all literary events successfully...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Sub Mentor at Student Mentorship Programme, MNIT Jaipur...</a></h3>
            <div class='web-adr'><cite class='www'>www.submentorsmp.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 28, 2015 - </span> <em>Jagriti Aggarwal</em> was Sub-mentor at Student Mentorship Pprogramme at MNIT Jaipur which helps freshers to guide for a better path in future....</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Executive Member at Vyaktitva Srijan Club, MNIT Jaipur...</a></h3>
            <div class='web-adr'><cite class='www'>www.vsclubmnit.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 28, 2015 - </span> <em>Jagriti Aggarwal</em> was Executive Member at Vyaktitva Srijan Club, MNIT Jaipur. She used to teach poor children for free whose parents can't afford school fee....</p>
        </div>

    </div>

    <div class='rs-more'>
        <div class='propositions'>
            <h3>Searches related to Jagriti Aggarwal portfolio</h3>
            <a href="#">Jagriti Aggarwal experience <strong> Internship </strong></a>
            <a href="#">Jagriti Aggarwal experience <strong> Web Development </strong></a>
            <a href="#">Jagriti Aggarwal experience <strong>  Projects</strong></a>
            <a href="#">Jagriti Aggarwal experience <strong>Programming skills</strong></a>
        </div>
    </div>


    <nav class='bottom-list'>
        <div class='rs-pages'>
            <table class='pages'>
                <tbody>
                <tr>
                    <td><img src="assets/images/footer.png" style="width: 194px;height: 45px;padding-left: 23px;padding-bottom: 5px;"></td>
                    <td><span class='fo'></span><span class='actual'>1</span></td>
                    <td><a href='#' ><span class='o'></span>2</a></td>
                    <td><a href='#' ><span class='o'></span>3</a></td>
                    <td><a href='#' ><span class='o'></span>4</a></td>
                    <td><a href='#' ><span class='o'></span>5</a></td>
                    <td><a href='#' ><span class='o'></span>6</a></td>
                    <td><a href='#' ><span class='o'></span>7</a></td>
                    <td><a href='#' ><span class='o'></span>8</a></td>
                    <td><a href='#' ><span class='o'></span>9</a></td>
                    <td><a href='#' ><span class='o'></span>10</a></td>
                    <td><a href='#' ><span class='gle'></span><span class='next'>Next</span></a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </nav>

</div>

<footer>
    <div class="footer-section">
        <div class="location-info">
            <ul>
                <li class='location-main'><span class="point circle"></span> MNIT </li>
                <li class='location-main'><span class="point">-</span> Jaipur</li>
                <li><span class="point">-</span> <a href='#' class='link'>Use precise location </a></li>
                <li><span class="point">-</span> <a href='#' class='link'>Learn more</a></li>
            </ul>
        </div>

        <nav class="footer-menu">
            <ul>
                <li><a href='/about' class='link'>About</a></li>
                <li><a href='/contact' class='link'>Contact</a></li>
                <li><a href='/assets/pdf/jagriti-resume.pdf' class='link'>Resume</a></li>
            </ul>
        </nav>
    </div>
</footer>

</body>
</html>