<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>Jagriti Aggarwal : Skills Page</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/results.css">
</head>
<body>

<header>

    <div class="google-search">
        <a href='/' class='home-logo'><img src="assets/images/logo.png" style="width: 100px;height: 44px;"> </a>

        <div class="g-search">
            <input class="search-input" type="text" text="  " value="Jagriti Aggarwal Skills">
            <div class="mic">
                <img class="v_search" alt="voice search" src="assets/images/search.png" />
            </div>
            <div class="mic2">
                <img class="v_search" alt="voice search" src="assets/images/mic.png" />
            </div>

        </div>

    </div>

    <div class="app-menu">
        <ul>
            <li><a href="#" class="apps" style="background-image: url('assets/images/apps-nav.png')"></a></li>
        </ul>
    </div>

</header>

<div class='top-menu'>

    <div class="left-menu">
        <div class='content-menu active'>Web</div>
        <div class='content-menu'><a href='#' class='link'>Videos</a></div>
        <div class='content-menu'><a href='#' class='link'>Images</a></div>
        <div class='content-menu'><a href='#' class='link'>News</a></div>
        <div class='content-menu'><a href='#' class='link'>Maps</a></div>
        <div class='content-menu'><a href='#' class='link'>More <span class="tg-arrow"></span></a></div>
        <div class='content-menu'><a href='#' class='search-settings'>Search tools</a></div>
    </div>

</div>

<div class='search-results'>

    <div class='note'><p>About 4,300,000 results (0.31 seconds)</p></div>

    <div class="results-main">

        <div class='rs-info'>
            <h3><a href="#">Jagriti is in love with NodeJs and web development ...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagritinodelove.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Oct 18, 2017 - </span> <em>Jagriti Aggarwal </em>love to work with NodeJs. Her <em>skills</em> are mind blowing in Web Development. She has done more then 3 projects in NodeJs....</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti has a very creative and open mind in front end...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagriticreative.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Jan 12, 2017 - </span> Her Front end <em>skills</em> are too good, creative and attractive. <em>Jagriti</em> has worked on many project with great and attractive UI ...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti has quick and sharp competitive programming skills...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagriticode.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 4, 2017 - </span> When it comes to competitive programming <em>skills</em>, she is the first one who comes in mind. She has a very quick and sharp problem solving <em>skills</em> ...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti has best database knowledge with efficient query skills...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagritidatabase.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 7, 2015 - </span> Database <em>skills</em> are best fit for <em>Jagriti Aggarwal</em>. She has a good knowledge of both SQL (MySQL) and NoSQL (MongoDB) database...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal is good in a number of programming language...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagritiprolang.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>July 19, 2016 - </span> <em>Jagriti Aggarwal</em> knows a good number of programming languages.Her Java programming <em>skills</em> are too good, other then python3, C, C++ and JavaScript ...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal is expert in latest JavaScript frameworks...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagritijs.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>June 8, 2016 - </span> <em>Jagriti Aggarwal</em> is too good in latest frameworks. She has done a lot of works on ExpressJs, AngularJs and other JavaScript frame works....</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal has good communication skills...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagriticommunication.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Dec 28, 2015 - </span> <em>Jagriti Aggarwal</em> has a very good communication <em>skills</em>. She loves to meet new people and talking to them around the world ...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal has good leadership skills...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagritileader.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>Mar 10, 2015 - </span>In any sector leader ships <em>skills</em> plays a vital role.<em>Jagriti Aggarwal</em> has excellent leadership <em>skills</em> and loves to work in a team...</p>
        </div>

        <div class='rs-info'>
            <h3><a href="#">Jagriti Aggarwal has good event organizing skills...</a></h3>
            <div class='web-adr'><cite class='www'>www.jagritievent.com </cite> <span class="tg-arrow"></span></div>
            <p class='rs-about'><span class='date'>July 8, 2016 - </span> Event organizing is the main part of college life. <em>Jagriti Aggarwal</em> has organized more then 10 events in college. She is good in decision <em>skills.</em>.....</p>
        </div>

    </div>

    <div class='rs-more'>
        <div class='propositions'>
            <h3>Searches related to Jagriti Aggarwal skills</h3>
            <a href="#">Jagriti Aggarwal skill <strong> web development</strong></a>
            <a href="#">Jagriti Aggarwal skills <strong> coding</strong></a>
            <a href="#">Jagriti Aggarwal skill <strong> communication skills</strong></a>
            <a href="#">Jagriti Aggarwal skills <strong> leadership </strong></a>
        </div>
    </div>


    <nav class='bottom-list'>
        <div class='rs-pages'>
            <table class='pages'>
                <tbody>
                <tr>
                    <td><img src="assets/images/footer.png" style="width: 194px;height: 45px;padding-left: 23px;padding-bottom: 5px;"></td>
                    <td><span class='fo'></span><span class='actual'>1</span></td>
                    <td><a href='#' ><span class='o'></span>2</a></td>
                    <td><a href='#' ><span class='o'></span>3</a></td>
                    <td><a href='#' ><span class='o'></span>4</a></td>
                    <td><a href='#' ><span class='o'></span>5</a></td>
                    <td><a href='#' ><span class='o'></span>6</a></td>
                    <td><a href='#' ><span class='o'></span>7</a></td>
                    <td><a href='#' ><span class='o'></span>8</a></td>
                    <td><a href='#' ><span class='o'></span>9</a></td>
                    <td><a href='#' ><span class='o'></span>10</a></td>
                    <td><a href='#' ><span class='gle'></span><span class='next'>Next</span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </nav>

</div>

<footer>
    <div class="footer-section">
        <div class="location-info">
            <ul>
                <li class='location-main'><span class="point circle"></span> MNIT </li>
                <li class='location-main'><span class="point">-</span> Jaipur</li>
                <li><span class="point">-</span> <a href='#' class='link'>Use precise location </a></li>
                <li><span class="point">-</span> <a href='#' class='link'>Learn more</a></li>
            </ul>
        </div>

        <nav class="footer-menu">
            <ul>
                <li><a href='/services' class='link'>Service</a></li>
                <li><a href='/about' class='link'>About</a></li>
                <li><a href='/contact' class='link'>Contact</a></li>
                <li><a href='/assets/pdf/jagriti-resume.pdf' class='link'>Resume</a></li>
            </ul>
        </nav>
    </div>
</footer>

</body>
</html>